.banner__buttons.banner__buttons--multiple a {
    opacity: 1;
}
.section-header {
  
    margin-bottom: 0px !important;
}


.image-with-text__media {
  border-radius: 16px !important;
  overflow: hidden !important;
  box-shadow: 0 15px 40px rgba(0,0,0,.08) !important;
}

.image-with-text__content h2 {
  color: #213B2D !important;
  line-height: 1.1 !important;
}

.image-with-text__content .button {
  border-radius: 8px;
  padding: 14px 28px;
}

.image-with-text__content p {
  line-height: 1.8;
}

/* Heading */
.image-with-text__heading {
  color: #213B2D !important;
  line-height: 1.1 !important;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

/* Gold line */
.image-with-text__heading:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 3px;
  background: #B68C42;
}

/* Text */
.image-with-text__content p {
  line-height: 1.8;
  color: #6A645C;
}

/* Button */
.image-with-text__content .button {
  background: #2F5A3E !important;
  border-radius: 8px;
  padding: 14px 28px;
}
@media screen and (max-width: 768px) {

.banner__media.media img {
  object-position: 75% center;
}
}
@media screen and (max-width: 530px) {
  h2.banner__heading.inline-richtext.h1 {
    font-size: 23px;
}
  .banner__buttons.banner__buttons--multiple a {
    font-size: 12px;
    padding: 0 12px;
    min-height: 38px;
}
.why-choose__badges img {
    width: 80px;
}

}